<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cây Thông Noel</title>
    <link href="~/Content/mystyle.css" rel="stylesheet" />
    <script type="text/javascript" src="https://anonyviet.com/resource/tuyetroi/noel.js"></script>
</head>
<body>

    <div class="container">
        <h1 class="holiday-text">MERRY CHRISTMAST</h1>
        <h2 class="holiday-text2">Yêu bồ nhiềuuuu</h2>
        <div class="bottom_snow"></div>

        <!-- Cây thông thứ nhất -->
        <div class="tree"></div>
        <div class="tree_bot"></div>
        <div class="ball red"></div>
        <div class="ball green"></div>
        <div class="ball blue"></div>
        <div class="ball red rsmall"></div>
        <div class="ball green gsmall"></div>
        <div class="ball blue bsmall"></div>
        <div class="ball pink lsmall"></div>


        <!-- Cây thông thứ hai -->
        <div class="tree tree2"></div>
        <div class="tree_bot tree_bot2"></div>
        <div class="ball red ball2"></div>
        <div class="ball green ball2"></div>
        <div class="ball blue ball2"></div>
        <div class="ball red rsmall ball2"></div>
        <div class="ball green gsmall ball2"></div>
        <div class="ball blue bsmall ball2"></div>

        <!-- Cây thông thứ ba -->
        <div class="tree tree3"></div>
        <div class="tree_bot tree_bot3"></div>
        <div class="ball red ball3"></div>
        <div class="ball green ball3"></div>
        <div class="ball blue ball3"></div>
        <div class="ball red rsmall ball3"></div>
        <div class="ball green gsmall ball3"></div>
        <div class="ball blue bsmall ball3"></div>



        <div class="fall_snow"></div>
    </div>
</body>
</html>
